body {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

#timer, #controls {
  display: inline-flex;
  flex-direction: row;
  background-color: black;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

#timer {
  font-size: 70px;
  color: limegreen;
}

#labels {
  margin-top: -25px;
  z-index: 2;
  color: limegreen;
  font-size: 12px;
}
#hh {margin-left: 45px;}
#mm {margin-left: 80px;}
#ss {margin-left: 70px;}
#cs {margin-left: 45px;}

#controls  {
  justify-content: space-around;
}

button {
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
#go    { background-color: limegreen; }

#stop  { background-color: red}

#clear { background-color: gray}

body, button {
  font-family: 'Courier';
}
